<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/JS/GameTable.js"></script>
    <link rel="stylesheet" href="/CSS/game.css">
</head>

<body>

<div id="tableAndButtonsContainer" class="tableAndButtons">
    <div id="gameTableContainer"></div>

    <button id = "addGameButton" onclick="showForm()">New Game</button>
    <button id="submitDeleteAllFormButton">Delete All</button>
    <form id="addForm">
        <input type="text" id="gameTypeInput" placeholder="Type">
        <input type="text" id="firstTeamInput" placeholder="First Team">
        <input type="text" id="secondTeamInput" placeholder="Second Team">
        <input type="text" id="score1Input" placeholder="ScoreTeam1">
        <input type="text" id="score2Input" placeholder="ScoreTeam2">
        <button id="submitAddFormButton">Submit</button>
    </form>
</div>
</body>
</html>