<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <script src="/JS/FrontPage.js"></script>
    <link rel="stylesheet" href="/CSS/style.css">


</head>
<body>


<div id="main">


    <nav class="navbar navbar-expand-lg" style="background-color: #17a2b8;">
        <div class="container-fluid">
            <button class="buton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions"><i class="bi bi-list burger"></i>
            </button>
            <a class="navbar-brand mx-3 appName" href="http://localhost:8080/home">Sportify</a>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
         aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p></p>
        </div>
    </div>

    <h1 class="text-center">Sportify. Competitions Simplified</h1>
    <div class="d-flex flex-column justify-content-center align-items-center ">
        <a href="/players">
            <button type="button" class="btn btn-primary mb-3">Player</button>
        </a>
        <a href="/teams">
            <button type="button" class="btn btn-secondary mb-3">Team</button>
        </a>
        <a href="/games">
            <button type="button" class="btn btn-success mb-3">Game</button>
        </a>
    </div>

</div>

</body>
</html>
