<!DOCTYPE html>
<html>
<head>
    <title>Player</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/JS/PlayerTable.js"></script>
    <link rel="stylesheet" href="../static/CSS/player.css">

</head>

<body>

<div id="playerTableContainer"></div>

<button onclick="showForm()">add player</button>
<form id="addForm">
    <input type="text" id="typeInput" placeholder="First Name">
    <input type="text" id="nameInput" placeholder="Last Name">
    <input type="text" id="ageInput" placeholder="Age">
    <button id="submitFormButton">Submit</button>
</form>

</body>
</html>