<!DOCTYPE html>
<html>
<head>
    <title>Player</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/CSS/player.css">
    <script src="/JS/PlayerTable.js"></script>
</head>

<body>

<div id="tableAndButtonsContainer" class="tableAndButtons">
    <div id="playerTableContainer"></div>

    <button id = "addPlayerButton" onclick="showForm()">New Player</button>
    <button id="submitDeleteAllFormButton">Delete All</button>
    <form id="addForm">
        <input type="text" id="firstNameInput" placeholder="First Name">
        <input type="text" id="lastNameInput" placeholder="Last Name">
        <input type="text" id="ageInput" placeholder="Age">
        <input type="text" id="idInput" placeholder="TeamID">
        <button id="submitAddFormButton">Submit</button>
    </form>

</div>
</body>
</html>