#addForm
{
    display: none;
}

#deleteForm
{
    display: none;
}

.tableAndButtons
{
    text-align: -webkit-center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}